[submodule "service-discovery"]
	path = service-discovery
	url = https://github.com/groot-mg/service-discovery
[submodule "gateway"]
	path = gateway
	url = https://github.com/groot-mg/gateway.git
[submodule "observability-tools"]
	path = observability-tools
	url = https://github.com/groot-mg/observability-tools.git
[submodule "identity-service"]
	path = identity-service
	url = https://github.com/groot-mg/identity-service.git
[submodule "sales-catalog"]
	path = sales-catalog
	url = https://github.com/groot-mg/sales-catalog
[submodule "basket-service"]
	path = basket-service
	url = https://github.com/groot-mg/basket-service.git
[submodule "local-kafka-config"]
	path = local-kafka-config
	url = https://github.com/groot-mg/local-kafka-config.git
[submodule "local-database-config"]
	path = local-database-config
	url = https://github.com/groot-mg/local-database-config.git
