[submodule "service-discovery"]
	path = service-discovery
	url = https://github.com/shopping-api/service-discovery
[submodule "gateway"]
	path = gateway
	url = https://github.com/shopping-api/gateway.git
[submodule "observability-tools"]
	path = observability-tools
	url = https://github.com/shopping-api/observability-tools.git
[submodule "identity-service"]
	path = identity-service
	url = https://github.com/shopping-api/identity-service.git
